@font-face {
  font-family: netflix;
  src: url("../Netnet-base/font/AvenirNext.ttc");
  font-weight: 400;
  font-style: normal;
}

.credits {
  font-family: system-ui;
  background: #212429;
  font-size: 11px;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}
.credits {
  color: #f86580;
  text-decoration: none;
}

body {
  background: black;
  color: white;
  margin: 0;
  font-family: netflix;
  padding-bottom: 108px;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  padding-bottom: 100px;
  padding: 15px 15px 100px;
  position: relative;
  z-index: 2;
  background-image: linear-gradient(
    to bottom,
    black 0%,
    black 80%,
    rgba(0, 0, 0, 0.5) 85%,
    transparent 100%
  );
}

.salud {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.navigation-item {
  list-style: none;
  text-align: center;
}

.navigation {
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-flow: column;
  justify-content: space-around;
}

.featured {
  margin-top: -90px;
  position: relative;
  overflow: hidden;
}

.feature-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to top,
    black 0%,
    black 40%,
    transparent 100%
  );
}

.tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.tag {
  display: flex;
}

.tag:before {
  content: "°";
  margin-right: 10px;
  position: relative;
  top: 10%;
}

.tag:first-child::before {
  display: none;
}

.featured-actions {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2em;
}

.button {
  background: white;
  display: flex;
  align-items: center;
  padding: 5px 1em 5px 0.5em;
  border: none;
  border-radius: 3px;
}

.button::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 3px;
}

.button-secondary {
  background: none;
  color: white;
  font-size: 1.1em;
  min-width: 100px;
  cursor: pointer;
  border: none;
}

.button-secondary::before {
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  margin: auto;
  margin-bottom: 5px;
}

.icon-plus::before {
  background: url(../Netnet-base/icons/plus.svg);
}

.icon-play::before {
  background: url(../Netnet-base/icons/play.svg);
}

.icon-info::before {
  background: url(../Netnet-base/icons/info.svg);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.list-content {
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
}

.list-item {
  display: inline-block;
  margin-left: 10px;
}

.list-item:first-child {
  margin: 0s;
}

.list {
  padding: 0 1em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  padding: 1em 0;
}

.tab-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  color: #6e6e6e;
  padding-bottom: 1em;
}

.tab-list a {
  color: #6e6e6e;
}

.tab-item {
  text-align: center;
  font-size: 0.9em;
}

.tab-item svg {
  display: block;
  margin: auto;
}

.tab-item path {
  fill: #6e6e6e;
}

.tab-item:hover :is(path, span) {
  fill: white;
  color: blue;
}

.baok {
  padding-bottom: 100px;
  padding: 15px 25px 5px;
  position: relative;
  z-index: 0;
}

.example {
  width: 100%;
  margin-top: 35px;
}

.button-key {
  background: white;
  color: black;
  border: 250px;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  padding-bottom: 3px;
  font-size: 25px;
  font-family: elephant;
  width: 95%;
}

.button-secondary-key {
  background: grey;
  color: white;
  border: 250px;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  padding-bottom: 3px;
  font-size: 25px;
  font-family: elephant;
  width: 95%;
}

.inter {
  list-style: none;
  text-align: center;
  font-size: 20px;
}
.data {
  text-align: left;
  color: yellow;
}

.lost {
  font-size: 20px;
}

.los {
  color: yellow;
  font-size: 15px;
  display: grid;
  list-style: none;
}

.letra {
  color: red;
  font-size: 20px;
  text-align: justify;
  width: 95%;
}

.you {
  border-bottom: #212429;
}

.farm {
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 2em;
}

.icon-email::before {
  background: url(../Netnet-base/icons/email-send.svg);
}
.icon-like::before {
  background: url(../Netnet-base/icons/like.svg);
}
img {
  text-align: right;
  padding: 1em;
  margin: 0px 10px;
}

img {
  margin-right: 10px;
  position: relative;
  top: 10%;
}
.info {
  margin-top: 30px;
  margin-bottom: 2%;
  /*align-items: center;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
}
.coin {
  margin: 0px 15px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 203, 0);
  font-size: 25px;
}
.hora {
  display: flex;
  margin-left: auto;
  width: 100px;
  height: 20px;
  font-size: 20px;
}
.año {
  display: flex;
  margin: 0px 40px;
  width: 50px;
  height: 20px;
  text-align: center;
  font-size: 20px;
}
